# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/

# Gradle
.gradle/
build/

# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders/

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/
out/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
